//@ ========================================================================================================================================================================================================

@import "reset";

//@ Variables ========================================================================================================================================================================================================

$minWidth: 320;
$maxWidth: 1920;
$containerWidth: 1140px;
$font-1: "Arial", sans-serif;

@import "variables";

//@ ========================================================================================================================================================================================================

@import "mixins";

//@ ========================================================================================================================================================================================================

@import "fonts";
// @import "icons";

//@ Settings ========================================================================================================================================================================================================

html {
    font-size: .625rem;
}

html,
body {
    height: 100%;
    background: $bg-1;
    font-family: $font-1;
    line-height: 1.4;
    color: $text-1;
}

body {

    &.blocked {
        overflow: hidden;
    }
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: $containerWidth;
    padding: 0 24px;
    margin: 0 auto;
}

//@ Libs ========================================================================================================================================================================================================



//@ ========================================================================================================================================================================================================

@import "templates";

//@ Modules ========================================================================================================================================================================================================

@import "modules/header/header";
@import "modules/footer/footer";

//@ Pages ========================================================================================================================================================================================================

